*{margin: 0px;padding: 0px}
html,body,ul,li{
    height: 100%;
}
ul {
    list-style: none;
    color: #fff;
}
li {
    padding: 100px 20px;
}
h1 {
    text-align: center;
    font-size: 20px;
    margin-bottom: 50px;
}
p {
    text-indent: 2em;
}
li:nth-child(1) {
    background-color: #673AB7;
}
li:nth-child(2) {
    background-color: #4CAF50;
}
li:nth-child(3) {
    background-color: #795548;
}
li:nth-child(4) {
    background-color: #607D8B;
}